* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: grid;
}

.header-img {
  width: 350px;
  height: 350px;
  position: relative;
  text-align: end;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 2;
}

img {
  width: 100%;
  object-fit: cover;
}

.name {
  position: absolute;
  color: beige;
  top: 5px;
  line-height: 1em;
  font-size: 4.8rem;
  font-weight: 600;
  width: 100%;
  text-align: right;
}

.social-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 2.5rem;
}

.header {
  align-items: center;
  justify-content: center;
}

.about-me {
  padding: 1.2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.about-me h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.3em;
}

.my-work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  gap: 1rem;
}

.project {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.project-img {
  background-color: beige;
  width: 100%;
  height: 15.5rem;
}
.project-card {
  padding: 0.7rem;
}

.footer {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.project-title {
  display: flex;
  justify-content: space-between;
}
.project-title i {
  font-size: 1.5rem;
}
.footer-img {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
}

i {
  font-size: 2rem;
}

@media (min-width: 800px) {
  .container {
    display: grid;
  }
  .name {
    font-size: 4.3rem;
    text-align: center;
  }

  .header-img {
    width: min(100% - 20px, 400px);
  }

  .header {
    grid-template-columns: 400px minmax(400px, 50%);
  }
  .main {
    gap: 1rem;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .footer-img {
    width: min(100% - 20px, 400px);
  }

  .contact-info {
    align-items: flex-start;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .header.container {
    display: block;
    position: relative;
  }
  .header-img {
    float: left;
    position: relative;
    margin-right: 1rem;
  }
  .about-me {
    margin: 8rem;
    margin-left: 15em;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 1100px) {
  .about-me {
    width: min(100vw - 40px, 600px);
  }
}
